nav{
    background-color: rgb(236, 234, 236);
    height: 90px;
}
.navbar-brand{
    color: rgb(38, 48, 38);
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
}
.nav-item a {
color: rgb(53, 52, 52);
font-weight: 500;
font-size: 1.1rem;
}


.main_div{
    display: flex;
   position: relative   ;
    background-image: url('images/mock\ tails.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    
    z-index: -1;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.main_div::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100% ;
    background: rgba(255,255 ,255,0);
    backdrop-filter: blur(2px);
}
.img_content{
    
    margin-top: 300px;
    height: 200px;
    width: 800px;
    position:relative;
    z-index: 1;
    background-color: transparent;
    color: white;

  

}
.head1{
    margin-top: 10px;
    font-size: 3rem;
}
.head2{
    margin-top: 30px;
    font-size: 1.2rem;
    margin-left: 65px;
    margin-right: 65px;
}
.first{
    

}
.first img{
    height: 100px;
    width: 100px;
    margin-left: 90px;

}
.first_p{
    margin-top: 10px;
    font-size:1rem ;
}
.first_h{
    font-size: 2rem;
    margin-left: 30px; 
    margin-top: 20px;
}
.second img{
    height: 100px;
    width: 100px;
   margin-left: 90px;
}

.second{
   
   
}
.third img{
    height: 100px;
    width: 100px;
    margin-left: 90px;
}
.third{
   
}

.middle{
   
}
.first_t{
    margin-top: 20px;
    font-size:0.9rem ;
}
.first_m{
    font-size: 1.3rem;
  margin-top: 60px;

}
.first_a{
    font-size: 1.3rem;
  

}
.card-title{
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    
}
.card-text{
    margin-top: 30px;
    font-size: 1rem;
}
/* Footer */
footer {
    background-color:  rgb(236, 234, 236);
    color:black;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 5px;
}
#mail{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:black;
    margin-bottom: 30px;
}
.ancher a{
    display: block;
    text-decoration: none;
    color: black;
    margin-left: 20px;
}
