nav{
    background-color: rgb(236, 234, 236);
    height: 90px;
}
.navbar-brand{
    color: rgb(38, 48, 38);
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
}
.nav-item a {
color: rgb(53, 52, 52);
font-weight: 500;
}
.navbar{
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        
       
        text-transform: uppercase;
    
      }
      ul li {
      
        cursor: pointer;
       position: relative;
        overflow: hidden;
        transition: .3s;
      }
      ul li:hover {
        color: #fff;
      }
      ul li:before {
        content: "";
        position: absolute;
        inset: calc(100% - 3px) 0 0 0; /* 3px = the thickness */
        background: #247046; /* the color */
        scale: 0 1;
        transition: .3s, translate 0s .3s;
      }
      ul:hover li:before {
        scale: 1;
      }
      ul li:hover:before {
        translate: 0;
        transition: .3s;
      }
      ul:hover li:has(~ li:hover):before {
        translate: 100% 0;
        transition: .2s .2s,scale 0s .4s;
      }
      ul:hover li:hover ~ li:before {
        translate: -100% 0;
        transition: .2s .2s,scale 0s .4s;
      }
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
header {
    background-color:cornsilk;
    color:black;
    text-align: center;
    padding: 10px 0;
}
.juice-img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
.juice-details {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
.juice-details h2 {
    color: #333;
}
.juice-details p {
    font-size: 16px;
    color: #666;
}
.price {
    font-size: 24px;
    font-weight: bold;
    color: #4CAF50;
    margin: 10px 0;
}
.buy-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
}
.buy-button:hover {
    background-color: #45a049;
}
/* Footer */
footer {
    background-color:  rgb(236, 234, 236);
    color:black;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 5px;
}
#mail{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:black;
    margin-bottom: 30px;
}
.ancher a{
    text-decoration: none;
    color: black;
    margin-left: 20px;
}